*{
    margin: 0px;
    padding: 0px;
}

#Pseudo-selec{
    background-color: red;
    color: pink;
    text-shadow: 5px 5px 5px whitesmoke;
    font-size: 30px;
    margin: 30px;
    border: 30px solid green;
    box-shadow: 5px 5px 5px lightblue;
    font-family: cursive;
    text-align: center;
    padding: 30px;
}

#formulario{
    font-size: 20px;
    font-weight: bolder;
    border: 2px solid goldenrod;
    border-radius: 20px;
    margin: 30px;
    background-color: turquoise;
}

#input{
    font-size: 20px;
    font-weight: bolder;
    border: 2px solid goldenrod;
    border-radius: 20px;
    margin: 30px;
    background-color: turquoise;
}

.form-group{
    width: 20%;
}

input:enabled{
    background-color: green;
    color: red;
}

input:disabled{
    background-color: red !important;
    color: white;
}

input:checked {
    width: 100px;
    height: 100px;
}