*{
    margin: 0px;
    padding: 0px;
}

#selectores{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    font-family: cursive;
    padding: 30px;
    margin: 30px;
    border: 2px solid black;
    background-color: blue;
    color: lightskyblue;
    box-shadow: 5px 5px 5px black;
    text-shadow: 5px 5px 5px whitesmoke;
}

h1::before{
    content: "Ésta es la etiqueta, ";
    margin-left: 30px;
    font-size: 100px;
    color: blue;
    text-shadow: 5px 5px 5px lightseagreen;
}

h1::after {
    content: "...";
    font-size: 100px;
}

#title-Pseudo-element{
    border: 2px solid black;
    text-align: center;
    padding: 30px;
    font-size: 30px;
    margin: 30px;
    color: aliceblue;
    background-color: blue;
    box-shadow: 5px 5px 5px gray;
    text-shadow: 5px 5px 5px lightskyblue;
    font-weight: bolder; 
}

::selection {
    background-color: green;
    color: white;
    text-shadow: 2px 2px black;
}

h3::selection{
    background-color: deeppink;
    color: white;
}

#guiones{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}

.texto {
    height: 200px;
    width: 300px;
    padding: 20px;
    border: 2px solid black;
    overflow: auto;
}