*{
    margin: 0px;
    padding: 0px;
}

.tituloCombinadores{
    text-shadow: 2px 2px 2px black;
    font-size: 50px;
    text-align: center;
    border: 5px solid blue;
    background-color: crimson;
    padding: 30px;
    margin: 20px;
}

.contenido{
    font-size: 30px;
    font-weight: bolder;
    background-color: crimson;
    text-shadow: 2px 2px 2px lightblue;
    text-align: center;
    margin: 50px;
}

.contenido > p {
    background-color: aqua;
    font-size: 20px;
    font-weight: bolder;
    color: steelblue;
    padding: 10px;
    margin: 15px;
    /* text-align: center; */
}