*{
    margin: 0px;
    padding: 0px;
}

#title-prop{
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
    border: 3px solid black;
    box-shadow: 2px 2px 2px gray;
    padding: 30px;
    margin: 20px;
    text-shadow: 2px 2px 2px red;
    background-color:royalblue;
}

