/* fuentes */
@import url('https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap');

html{
    font-family: 'Krub', sans-serif;
    box-sizing: border-box;
    font-size: 62.5%;
}

/* snipet con selectores unoversales(seleccioan todos los elementos) */
*,*:before,*:after{
    box-sizing: inherit;
}

:root{
    /* colores */
    --primario:#9c27b0;
    --primarioOscuro:#89119d;
    --secundario:#ffce00;
    --secundarioOscuro: rgb(233,287,2);
    --blanco:#fff;
    --negro:#000;

    /* fuentes */
    --fuentePrincipal: 'Staatliches', cursive;
}

/* Globales */
body{
    /* color de fondo del proyecto */
    background-color: var(--primario);
}