/* definicion de colores personalizados */
:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #00a797;
    --gris: #757575;

    --fuente-principal: 3,8rem;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*,*:before, *:after{
    box-sizing: inherit;
}



body{
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}

.contenedor{
    width: 120rem;
    margin: 0 auto;
}



.titulo{
    text-align: center;
    font-size: 3.8rem; 
}

.titulo span{
    font-size: 2rem;
}

.nav-bg{
    background: var(--secundario);
}


.navegacion-Principal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .navegacion-Principal{
        flex-direction: row;
    }
}

.navegacion-Principal a{
    color: var(--blanco);
    text-decoration: none;
    font-weight: bold;
    padding: 1rem;
}

.navegacion-Principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}   

p{
    background: var(--primario);
}

.Hero{
    background-image: url(../imagenes/surtido-escritorio-oficina-plano-tableta-pantalla-vacia_23-2148707960.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 20px;
    position: relative;
}

.contenido-hero{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

