*{
    margin: 0px;
    padding: 0px;
    font-family: cursive;
}

#Title-PseudoClase{
    font-size: 40px;
    color: aqua;
    background-color: blue;
    text-shadow: 5px 5px 5px greenyellow;
    text-align: center;
    border: 2px solid black;
    margin: 30px;
    padding: 30px;
}

section{
    height: 200px;
    padding: 20px;
}

nav ul{
    text-align: center;
}

nav ul li{
    display: inline-block;
    padding: 10px;
}

nav ul li a{
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
    background-color: deeppink;
}

#section1{
    background-color: aqua;
}

#section2{
    background-color: coral;
}

#section3{
    background-color: antiquewhite;
}

h1{
    text-align: center;
    background-color: blueviolet;
    margin-bottom: 10px;
}

